{% load static %}
<!DOCTYPE html>
<html lang="en">

<style>
body  {
  background-image: url(" {% static 'l.jpg' %}")    ;
  text-align: center;
}
table {
  border: 1px solid black;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 400px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>
<head>
    <meta charset="UTF-8">
    <title>My Django</title>
</head>
<body>
<h1>WELLCOME</h1>

<a href="{% url 'index' %}"> Admin </a>

<h2>Nhà Sản Xuất</h2>
<table style="width:50%">
  <tr>
    <th>Id</th>
    <th>Nhà Sản Xuất</th>
  </tr>
  {% for item in h %}
  <tr>
    <td> {{ item.id }}</td>
    <td> {{ item.name }}</td>
  </tr>
  {% endfor %}
</table>



<h2>Sản Phẩm</h2>

<table style="width:50%">
  <tr>
    <th>Mã sản phẩm</th>
    <th>Sản phẩm</th>
    <th>Giá</th>
  </tr>
  {% for item in h1 %}
  <tr>
    <td> {{ item.ma_sp }}</td>
    <td> {{ item.ten_sp }}</td>
    <td> {{ item.gia }}</td>
  </tr>
  {% endfor %}
</table>
</body>
</html>